body {
  background-color: #0f0f0f;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

/* box for messages*/
.message-box {
  background: #1e1e1e;
  padding: 2em 3em;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

/* Styling heading the message box */
.message-box h1 {
  margin-bottom: 0.5em;
}

.message-box button {
  margin-top: 1em;
  padding: 10px 20px;
  background-color: #01b4e4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover effect for button*/
.message-box button:hover {
  background-color: #0194bb; 
}
